/* Content layout */

body {
    font-family: Arial;
    padding-inline: 1.5rem;
    background: linear-gradient(to right, #833ab4,#fd1d1d,#fcb045);
    text-align: center;
}

h1 {
    color: white;
    font-size: 2.2rem;
    -webkit-text-stroke: 1px #000;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}

/* Simple button */

button {
    font-size: 1rem;
    width: 130px;
    height: 30px;
    border-radius: 999px;
    transition: transform .3s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

/* Toggle button */

#toggle {
    display: none;
}

.switch {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.switch::before {
  content: "";
  width: 17px;
  height: 17px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: 0.3s;
}

#toggle:checked + .switch {
  background-color: #4CAF50;
}

#toggle:checked + .switch::before {
  transform: translateX(20px);
}

.toggle-display {
    display: flex;
}

.toggle-text {
    font-size: 1rem;
    color: #f4f4f4;
    margin-right: 6px;
}

.toggle-message {
    font-size: 1rem;
    color: #f4f4f4;
    background-color: red;
}

/* Stats and progress */

#scraping-title, #followers, #following, #stats {
    font-size: 1rem;
    color: #f4f4f4;
}